In [193]:
import pandas as pd

In [195]:
# read csv into pandas df
dodger_pitches = pd.read_csv("data/dodgers_pitchers_vs_bluejays.csv")

# get dataframe with player ids
ids = pd.read_csv("data/mlbids.csv")

In [197]:
# take only wanted values that can be measured during the current play
dodger_pitches = dodger_pitches[['pitch_type', 'player_name', 'batter', 
                                 'balls', 'strikes', 'on_3b', 'on_2b', 
                                 'on_1b', 'pitch_name', 'fld_score', 
                                 'bat_score']]

In [199]:
# add a count column
#dodger_pitches['count'] = str(dodger_pitches['balls'])

In [201]:
# replace player id on bases 1,2,3 to true or false if base is occupied
dodger_pitches[['on_3b', 'on_2b', 'on_1b']] = dodger_pitches[['on_3b', 'on_2b', 'on_1b']].notna()

In [207]:
# get player ids and names
merged = dodger_pitches.merge(ids, left_on='batter', right_on='MLBID', how='left')

In [209]:
merged

,pitch_type,player_name,batter,balls,strikes,on_3b,on_2b,on_1b,pitch_name,fld_score,bat_score,PLAYERNAME,MLBID
0,FS,"Yamamoto, Yoshinobu",662139,1,2,False,True,True,Split-Finger,3,1,Daulton Varsho,662139
1,FS,"Yamamoto, Yoshinobu",662139,1,1,False,True,True,Split-Finger,3,1,Daulton Varsho,662139
2,FS,"Yamamoto, Yoshinobu",662139,0,1,False,True,True,Split-Finger,3,1,Daulton Varsho,662139
3,FS,"Yamamoto, Yoshinobu",662139,0,0,False,True,True,Split-Finger,3,1,Daulton Varsho,662139
4,FS,"Yamamoto, Yoshinobu",666182,3,2,False,True,False,Split-Finger,3,1,Bo Bichette,666182
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1449,FC,"Casparius, Ben",664770,1,0,False,False,True,Cutter,2,1,Nathan Lukes,664770
1450,FF,"Kershaw, Clayton",676914,0,0,False,False,False,4-Seam Fastball,0,0,Davis Schneider,676914
1451,SI,"Banda, Anthony",680718,0,0,False,False,False,Sinker,2,1,Addison Barger,680718
1452,FF,"Casparius, Ben",664770,0,0,False,False,True,4-Seam Fastball,2,1,Nathan Lukes,664770
1453,SI,"Treinen, Blake",672386,0,0,False,False,False,Sinker,5,1,Alejandro Kirk,672386